<section class="card todo-component">
  <div class="grid">
    <h2 class="todo-component__heading grid__col is-12">
      {{ listService.currentListTitle() }} <i (click)="removeList()" class="fa fa-trash"></i>
    </h2>
  </div>
  
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="grid add-todo">
      <div class="grid__col is-9 add-todo__item">
        <input id="newTask" type="text" placeholder="New Task" (keyup.enter)="addTask.click" name="newTask" ngModel minlength="3" required>
        <span #invalidTask *ngIf="!f.valid && f.touched && f.dirty">Please enter a new task at least 3 characters long.</span>
      </div>
      <div class="grid__col is-3 add-todo__item">
        <button #addTask id="addTask" class="btn btn--primary btn--full-width" type="submit" [disabled]="!f.valid">
          <i class="fa fa-plus"></i>Add Task
        </button>
      </div>
    </div>
  </form>

  <main id="todo-list" class="todo-list">

    <div class="grid__col is-12 no-padding" *ngFor="let todo of listService.currentList.todos; let i = index">

      <div class="todo grid">
        <div class="todo__checksort grid__col is-2 is-2--small text-center">
          <i class="fa fa-sort"></i>
          <!-- Checkbox is checked only if todo.completed is true -->
          <input (click)="toggleCompleted(i)" type="checkbox" [checked]="todo.completed">
        </div>

        <div class="todo__task grid__col is-8 is-8--small" [ngClass]="{completed: todo.completed}">
          {{ todo.text }}
        </div>

        <div class="todo__actions grid__col is-2 is-2--small">
          <i class="fa fa-pencil"></i>
          <i (click)="listService.removeTodo(i)" class="fa fa-trash"></i>
        </div>
      </div>

    </div>

  </main>

</section>