@import "../app.component";

.todo {

  &__task {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .todo-component {
    min-height: $todo-min-height;
  }
}


.completed {
  text-decoration: line-through !important;
}
