<section class="add-list-wrap">
  <div class="container">
    <div class="add-list grid">

      <div class="grid__col is-5">
        <label for="new-list-title" class="screen-reader">New List Title</label>
        <input type="text" placeholder="New List Title" name="new-list-title" data-button-id="create-list" class="input-text" autofocus>
      </div>

      <div class="grid__col is-4">
        <label for="new-list-tags" class="screen-reader">New List Tags</label>
        <input type="text" placeholder="New List Tags" name="new-list-tags" data-button-id="create-list" class="input-text">
      </div>

      <div class="grid__col is-3">
        <button id="create-list" class="btn btn--full-width">
          <i class="fa fa-plus"></i> Create List
        </button>
      </div>

    </div>
  </div>
</section>
