<section class="add-list-wrap">
  <div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="add-list grid">
    
        <div class="grid__col is-5 add-list-item">
          <label for="newList" class="screen-reader">New List Title</label>
          <input id="newList" type="text" placeholder="New List Title" name="newList" ngModel
            (keyup.enter)="createList.click()" required class="input-text" autofocus>
        </div>
    
        <div class="grid__col is-4 add-list-item">
          <label for="newTags" class="screen-reader">New List Tags</label>
          <input id="newTags" type="text" placeholder="New List Tags" name="newTags" ngModel
          (keyup.enter)="createList.click()" required class="input-text">
        </div>
    
        <div class="grid__col is-3 add-list-item">
          <button #createList id="createList" type="submit" class="btn btn--secondary btn--full-width" [disabled]="!f.valid">
            <i class="fa fa-plus"></i> Create List
          </button>
        </div>
    
      </div>
    </form>
  </div>
</section>